<div class="card">
  <div class="info">
    <div class="views">
      <img src="assets/eye.svg" alt="" />
      <span>111111</span>
    </div>
    <img class="pin" src="assets/pin.svg" alt="" width="24" />
  </div>
  <div style="display: flex; flex-direction: column; align-items: center">
    <div class="avatar"><img src="assets/man.jpg" alt="" /></div>
    <p class="fullname">გიორგი ხორავა</p>
    <p class="specialize">კარდიოლოგი/არითმოლოგი</p>
    <p class="rating">rating stars</p>
    <button>მიღებაზე ჩაწერა</button>
  </div>
</div>
