article{
border: 1px solid #ECF2F8;
display: flex;
box-shadow: 0px 4px 30px 0px #0533540D;
width: 1208px;
height: 250px;
padding: 45px;
border-radius: 10px;
}
.info{
    display: flex;
    gap: 40px;
    align-items: center;
    border-right: 1px solid #ECF2F8;
    padding-right: 36px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 17px;
    flex: 1;
    h2{
        font-size: 22px;
        font-weight: 400;
        color: #053354;
        text-wrap: nowrap;
    }
    p{
        color: #0533544D;
        font-weight: 16px;
    }
}
.resume{
    padding-left: 51px;
    display: flex;
    justify-content: center;
    flex-direction:column ;
    gap: 23px;
    align-items: start;
}
.resume span{
    color: #18A4E1;
}
img{
    width: 157px;
    height: 157px;
    border-radius: 50%;
    object-fit: cover;
}
::ng-deep label.star{
    padding: 0 !important;
    margin-right: 4px;
    font-size: 20px !important;
    transform: none !important;
    color: #FFD233 !important;
    &::before{
        text-shadow: none !important;
        color: #FFD233 !important;
    }
}
