.burger-menu {
    display: flex;
    flex-direction: column;

    width: 28px;
    height: 20px;
    gap: 4px;
    cursor: pointer;
  }
  .action{
    width: 516px;
    background-color: white;
    box-shadow: 0px 4px 30px 0px #0533540D;
border-radius: 25px;
padding: 14px 24px;
display: flex;
align-items: center;
gap: 34px;
height: 50px;

  }
  section{
    display: flex;
    align-items: flex-start;
    gap: 41px;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-block: 45px 63px;
    button{
      width: 350px;
      height: 50px;
      border:1px solid #18A4E14D;
      background-color: white;
      border-radius: 50px;
      padding: 14px 106px;
      color: #18A4E1;
      font-weight: 500;
      font-size: 18px;
  &:hover{
  background-color: #F0FAFF;
  border: none;
  }
  .bold{
      color: #18A4E1;
      font-weight: 500;
  }
  .active{
      background-color: #F0FAFF;
  border: none;
  }
    }
  }
  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  .bar {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: #18A4E1;
  }
  .bar2{
    width: 23px;
  }
  .bar3{
    width: 16px;
  }

  .calendar{
    button{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      box-shadow: 0px 4px 10px 0px #0533540D;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }
  }
  .details{
    gap: 26px;
    display: flex;
  }
  .contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    h2{
      color: #18A4E1;
      font-size: 18px;
      font-weight: 400;
      margin-block: 10px 5px;
    }
  }
  .info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 43px;
    box-shadow: 0px 4px 30px 0px #0533540D;
border-radius: 10px;
padding: 30px 60px;
    .user{
      width: 157px;
      height: 157px;
      border-radius: 50%;
      object-fit: cover;
  }
  }
  
  .appointments{
    display: flex;
    gap: 20px;
  }
  .appointments-section{
    flex-direction: column;
  }

  .month{
    padding: 7px 34px;
    border: 1px solid #18A4E1;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
  }
  .calendar{
    display: flex;
    align-items: center;
    margin-bottom: 31px;
    justify-content: center;
  margin-left: 300px;
  }
  tbody{
    td{
      border: 1px solid #ECF2F8;
        width: 100px;
        height: 60px;
      text-align: center;
    }
    tr{
      text-wrap: nowrap;
      border: 1px solid #ECF2F8;
color: #0533544D;
&:hover{
color: #053354;
}
    }
  }
  th{
    font-weight: 400;
    padding-block: 15px;
    background-color: #ECF2F8;
    span{
color: #18A4E1;
font-weight: 500;
    }
  }

 table{
  border-radius: 10px 10px 0px 0px;
overflow: hidden;
 }
 .checked{
background-color: #DAFAEE;
color: #3ACF99;
font-size: 12px;
 }
  .bg-yellow{
    background-color: #FFFFF5;
  }
  table{
    border-collapse: collapse;
  }
  .arrow_btn{
    background-color: white;
    width: 21px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .pen{
    width: 28px;
    height: 28px;
    display: inline;
  }
  ::ng-deep label.star{
    padding: 4px !important;
  font-size: 20px !important;
    transform: none !important;
    color: #FFD233 !important;
    &::before{
        text-shadow: none !important;
        color: #FFD233 !important;
    }
}
.edit,
.add,
.delete{
   height: 50px;
   border-radius: 50px;
   display: flex;
   align-items: center;
   padding-inline: 33px;
   padding-block: 12px;
   gap: 10px;
   background-color: #ECF2F8;
   color: #18A4E1;
   width: 230px;
   font-size: 18px;
   font-weight: 500;
}
.delete{
   background-color: #FF93A6;
   color: white;
   width: 170px;
}
.add{
  background-color: #3ACF99;
  color: white;
  width: 170px;

}
.buttons{
  display: flex;
  align-items: center;
  gap: 30px;
}
