<form
  class="wrapper"
  (ngSubmit)="onSubmit()"
  [formGroup]="registrationForm"
  action=""
>
  <p>რეგისტრაცია</p>
  <div class="input-group">
    <div class="form-group">
      <label for="">სახელი</label>
      <input
        formControlName="name"
        type="text"
        placeholder="( მინიმუმ 5 სიმბოლო )"
      />
    </div>
    <div class="form-group">
      <label for="">ემაილი</label>
      <input formControlName="email" type="email" />
    </div>
    <div class="form-group">
      <label for="">პირადი ნომერი</label>
      <input
        formControlName="id_number"
        type="number"
        placeholder="00000000000"
      />
    </div>
    <div class="form-group">
      <div><label for="">გვარი</label></div>
      <input formControlName="surname" type="text" />
    </div>

    <div class="form-group">
      <label for="">პაროლი</label>
      <input
        formControlName="password"
        type="password"
        placeholder="( მინიმუმ 8 სიმბოლო : @ 7 , )"
      />
    </div>
    <div class="form-group">
      <label for="">კატეგორია</label>
      <input
        formControlName="category"
        type="text"
        placeholder="( მინიმუმ 8 სიმბოლო : @ 7 , )"
      />
    </div>
    <div style="position: relative; width: 480px">
      <span for="">ფოტოსურათი</span>
      <img src="assets/img.svg" class="icon" alt="" />
      <label class="form-group-file" for="image"></label>
      <input
        formControlName="photo"
        type="file"
        name="image"
        id="image"
        (change)="onFileSelected($event)"
        hidden
      />
    </div>
    <div style="position: relative; width: 480px">
      <label for="">CV</label>
      <label for="cv" class="form-group-file"> </label>
      <img class="icon" src="assets/doc.svg" alt="" />
      <input formControlName="cv" name="cv" id="cv" type="file" hidden />
    </div>
    <button type="submit">რეგისტრაცია</button>
  </div>
</form>
