section{
    display: flex;
    gap: 42px;
    padding-block: 41px 191px;
}
.hero{
    display: flex;
    gap: 62px;
}

article{
    border: 1px solid #ECF2F8;
    display: flex;
    box-shadow: 0px 4px 30px 0px #0533540D;
    width: 1208px;
    height: 250px;
    padding: 45px;
    border-radius: 10px;
    }
    .info{
        display: flex;
        gap: 40px;
        align-items: center;
        border-right: 1px solid #ECF2F8;
        padding-right: 36px;
    }
    .contact{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 17px;
        flex: 1;
        h2{
            font-size: 22px;
            font-weight: 400;
            color: #053354;
            text-wrap: nowrap;
        }
        p{
            color: #0533544D;
            font-weight: 16px;
        }
    }
    .resume{
        padding-left: 51px;
        display: flex;
        justify-content: center;
        flex-direction:column ;
        gap: 23px;
        align-items: start;
    }
    .resume span{
        color: #18A4E1;
    }
   .info img{
        width: 157px;
        height: 157px;
        border-radius: 50%;
        object-fit: cover;
    }
    ::ng-deep label.star{
        padding: 0 !important;
        margin-right: 4px;
        font-size: 20px !important;
        transform: none !important;
        color: #FFD233 !important;
        &::before{
            text-shadow: none !important;
            color: #FFD233 !important;
        }
    }
    
    .appointments-section{
        flex-direction: column;
        margin-top: 67px;
      }
    
      .month{
        padding: 7px 34px;
        border: 1px solid #18A4E1;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 500;
      }
      .calendar{

        margin-bottom: 30px;
        display: flex;
        align-items: center;
        span{
            margin-right: 43px;
        }
        button{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            box-shadow: 0px 4px 10px 0px #0533540D;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
          }
      }
      tbody{
        td{
          border: 1px solid #ECF2F8;
            width: 100px;
            height: 60px;
          text-align: center;
        }
        tr{
          text-wrap: nowrap;
          border: 1px solid #ECF2F8;
    color: #0533544D;
    &:hover{
    color: #053354;
    }
        }
      }
      th{
        font-weight: 400;
        padding-block: 15px;
        background-color: #ECF2F8;
        span{
    color: #18A4E1;
    font-weight: 500;
        }
      }
      tbody{
        
      }
     table{
      border-radius: 10px 10px 0px 0px;
    overflow: hidden;
     }
     .checked{
    background-color: #DAFAEE;
    color: #3ACF99;
    font-size: 12px;
     }
      .bg-yellow{
        background-color: #FFFFF5;
      }
      table{
        border-collapse: collapse;
      }
     .red-div{
        background-color: #FF93A6;
        border-radius: 5px;
        width: 100%;
        height: 100%;
     }
     .edit,
     .delete{
        height: 50px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        padding-inline: 33px;
        padding-block: 12px;
        gap: 10px;
        background-color: #ECF2F8;
        color: #18A4E1;
        width: 230px;
        font-size: 18px;
        font-weight: 500;
     }
     
     .delete{
        background-color: #FF93A6;
        color: white;
        width: 170px;
     }
     
     .arrow_btn{
      background-color: white;
      width: 21px;
      height: 21px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
    td{
      p:hover{
color: #3ACF99;
      }
    }