<div class="clinic-img">
  <img src="../../../assets/building.png" alt="clinic" />
  <div class="rectangle">
    <h1>
      აირჩიე კლინიკა რომელსაც <br />
      შეგიძლია ენდო
    </h1>
    <div class="address">
      <img src="../../../assets/location.svg" alt="" />
      <span> იაკობ ნიკოლაძე №10</span>
    </div>
  </div>
</div>

<section class="wrapper">
  <app-categories-list></app-categories-list>
  <article class="cards">
    <ng-container *ngFor="let doctor of docList"
      ><app-doctor-card [myDoctor]="doctor"></app-doctor-card
    ></ng-container>
  </article>
</section>
