section{
    padding-block: 41px 191px;
    display: flex;
    gap: 42px;
    align-items: flex-start;
}

.arrow_btn{
  background-color: white;
  width: 21px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.user-info{
    width: 366px;
    height: 800px;

    border-radius: 10px;
    border: 1px solid #ECF2F8;
    box-shadow: 0px 4px 30px 0px #0533540D;
    img{
        width: 157px;
        height: 157px;
        border-radius: 50%;
        object-fit: cover;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
}
.d-flex{
    display: flex; flex-direction: column; gap: 35px; margin-top: 45px;
    align-items: center;
    p{
        text-align: center;
    }
}
h2{
    font-weight: 400;
    font-size: 18px;
    color: #18A4E1;
    margin-top: 10px;
}
span{
color: #0533544D;
}
tbody{
    td{
      border: 1px solid #ECF2F8;
        width: 100px;
        height: 60px;
      text-align: center;
    }
    tr{
      text-wrap: nowrap;
      border: 1px solid #ECF2F8;
color: #0533544D;
&:hover{
color: #053354;
}
    }
  }
  th{
    font-weight: 400;
    padding-block: 15px;
    background-color: #ECF2F8;
    span{
color: #18A4E1;
font-weight: 500;
    }
  }

 table{
  border-radius: 10px 10px 0px 0px;
overflow: hidden;
 }
 .checked{
background-color: #DAFAEE;
color: #3ACF99;
font-size: 12px;
 }
  .bg-yellow{
    background-color: #FFFFF5;
  }
  table{
    border-collapse: collapse;
  }
  .edit,
  .delete{
     height: 50px;
     border-radius: 50px;
     display: flex;
     align-items: center;
     padding-inline: 33px;
     padding-block: 12px;
     gap: 10px;
     background-color: #ECF2F8;
     color: #18A4E1;
     width: 230px;
     font-size: 18px;
     margin-top: 31px;
     font-weight: 500;
  }
  .delete{
     background-color: #FF93A6;
     color: white;
     width: 170px;
  }
  .edit{
      margin-right: 30px;
  }
  .buttons{
    margin-bottom: 30px;
    display: flex;
    gap: 30px;
    justify-content: end;
  }
  ::ng-deep label.star{
    padding: 4px !important;
  font-size: 20px !important;
    transform: none !important;
    color: #FFD233 !important;
    &::before{
        text-shadow: none !important;
        color: #FFD233 !important;
    }
}