<form
  class="wrapper"
  (ngSubmit)="onSubmit()"
  [formGroup]="registrationForm"
  action=""
  >
  <p>რეგისტრაცია</p>
  <div class="input-group">
    <div class="form-group">
      <label for="name">სახელი</label>
      <input
        formControlName="name"
        type="text"
        placeholder="( მინიმუმ 5 სიმბოლო )"
        />
        @if (registrationForm.get('name').touched) {
          <div class="errors">
            @if (registrationForm.get('name').hasError('required')) {
              <small>
                *გთხოვთ შეიყვანოთ სახელი
              </small>
            }
            @if (registrationForm.get('name').hasError('minlength')) {
              <small>
                *მინიმუმ 5 სიმბოლო
              </small>
            }
          </div>
        }
      </div>
      <div class="form-group">
        <label for="email">ემაილი</label>
        <input formControlName="email" type="email" />
        @if (registrationForm.get('email').touched) {
          <div class="errors">
            @if (registrationForm.get('email').hasError('required')) {
              <small>
                *გთხოვთ შეიყვანოთ ემაილი
              </small>
            }
            @if (registrationForm.get('email').hasError('email')) {
              <small>
                *გთხოვთ შეიყვანოთ ვალიდური მეილი
              </small>
            }
          </div>
        }
      </div>
      <div class="form-group">
        <label for="id_number">პირადი ნომერი</label>
        <input
          formControlName="id_number"
          type="number"
          placeholder="00000000000"
          />
          @if (registrationForm.get('id_number').touched) {
            <div class="errors">
              @if (registrationForm.get('id_number').hasError('required')) {
                <small>
                  *გთხოვთ შეიყვანოთ პირადი ნომერი
                </small>
              }
              @if (registrationForm.get('id_number').hasError('minlength')) {
                <small>
                  *მინიმუმ 11 სიმბოლო
                </small>
              }
            </div>
          }
        </div>
        <div class="form-group">
          <div><label for="surname">გვარი</label></div>
          <input formControlName="surname" type="text" />
          @if (registrationForm.get('surname').touched) {
            <div class="errors">
              @if (registrationForm.get('surname').hasError('required')) {
                <small>
                  *გთხოვთ შეიყვანოთ გვარი
                </small>
              }
            </div>
          }
        </div>

        <div class="form-group">
          <label for="password">პაროლი</label>
          <input
            formControlName="password"
            type="password"
            placeholder="( მინიმუმ 8 სიმბოლო : @ 7 , )"
            />
            @if (registrationForm.get('password').touched) {
              <div class="errors">
                @if (registrationForm.get('password').hasError('required')) {
                  <small>
                    *გთხოვთ შეიყვანოთ პაროლი
                  </small>
                }
                @if (registrationForm.get('password').hasError('minlength')) {
                  <small>
                    *მინიმუმ 8 სიმბოლო
                  </small>
                }
              </div>
            }
          </div>
          <div class="form-group">
            <label for="category">კატეგორია</label>
            <input
              formControlName="category"
              type="text"
              placeholder="( მინიმუმ 8 სიმბოლო : @ 7 , )"
              />
              @if (registrationForm.get('category').touched) {
                <div class="errors">
                  @if (registrationForm.get('category').hasError('required')) {
                    <small>
                      *გთხოვთ შეიყვანოთ სპეციალობა
                    </small>
                  }
                </div>
              }
            </div>
            <div style="position: relative; width: 480px">
              <span for="image">ფოტოსურათი</span>
              <img src="../../../assets/img.svg" class="icon" alt="" />
              <label class="form-group-file" for="image"></label>
              <input
                formControlName="photo"
                type="file"
                name="image"
                id="image"

                hidden
                />
              </div>
              <div style="position: relative; width: 480px">
                <label for="cv">CV</label>
                <label for="cv" class="form-group-file"> </label>
                <img class="icon" src="../../../assets/doc.svg" alt="" />
                <input formControlName="cv" name="cv" id="cv" type="file" hidden />
              </div>
              <button type="submit" [disabled]="!registrationForm.valid">
                რეგისტრაცია
              </button>
            </div>
          </form>
