<div class="categories">
  <p class="title">კატეგორიები</p>
  <hr/>
  <ul>
    <li>ანდროლოგი</li>
    <li>
      ანესთეზიოლოგი
    </li>
    <li> კარდიოლოგი</li>
    <li>
      კოსმეტოლოგი
    </li>
    <li> ლაბორანტი</li>
    <li>
      ოჯახის ექიმი
    </li>
    <li>პედიატრი</li>
    <li>
      ტოქსიკოლოგი
    </li>
    <li>
      ტრანსფუზილოგი
    </li>
    <li>
      გინეკოლოგი
    </li>
    <li>
      დერმატოლოგი
    </li>
    <li>
      ენდოკრინოლოგი
    </li>
    <li>
      გასტროენტეროლოგი

    </li>
    <li>თერაპევტი</li>
  </ul>
  <hr/>
  <p class="view-more">
    სრულად ნახვა <span></span>
  </p>
</div>
